.panel.panel-default
  .panel-heading= I18n.t("admin_menu.category")
  .panel-body
    = form_for ['admin', @admin_category], remote: true do |f|
      = f.text_field :name, placeholder: I18n.t("messages.new_category"), class: "form-control"
  %table.table.category
    = render partial: @admin_categories
