%ul.list-group
  %li.list-group-item= link_to I18n.t("admin_menu.dashboard"), admin_root_path
  %li.list-group-item= link_to I18n.t("admin_menu.category"), admin_categories_path
  %li.list-group-item= link_to I18n.t("admin_menu.case"), admin_root_path
